<h1>New Contact</h1>
<!--renders new contact submission form-->
<%= render "form", contact: @contact %>

<br>

<div>
  <!--  button go back to contacts card-->
  <%= link_to "Back to contacts", contacts_path,class:"btn btn-dark" %>
</div>
