<div id="<%= dom_id todo %>">
  <p>
    <strong>Task:</strong>
    <%= todo.task %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Timeframe:</strong>
    <%= todo.timeframe %>
  </p>

</div>
