<h1>Edit To Do List</h1>

<%= render "form", todo: @todo %>

<br>

<div>
  <%= link_to "Show this task", @todo, class:"btn btn-dark" %>
  <%= link_to "Back to Task", todos_path, class:"btn btn-dark" %>
</div>
