<h1>Add Task</h1>
<!--renders from froms and retiuns table to add task-->
<%= render "form", todo: @todo %>

<br>

<div>
<!--  button to got back to to do list-->
  <%= link_to "Back to Tasks", todos_path,class: "btn btn-dark"  %>
</div>
